<main>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">{{'Tutorial NgRx' |uppercase}}</a>
      <a class="navbar-brand">{{test()}}</a>

      <ng-container *ngIf="(selectIsLoggedIn$ |async)">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *appHasRole="['USER','MODERATOR','ADMIN']">
            <a class="nav-link" [routerLink]="['/user']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:false}">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *appHasRole="['USER','MODERATOR','ADMIN']" [routerLink]="['/book']"
              [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}">Book</a>
          </li>
        </ul>
      </ng-container>

      <ul class="navbar-nav">
        <li class="nav-item">
          <ng-content *ngIf="!(selectIsLoggedIn$ |async);then loggedIn else notLoggedIn"></ng-content>
          <ng-template #loggedIn>
            <button type="button" class="btn btn-light" [routerLink]="['/auth']"
              [routerLinkActive]="['active']">Login</button>
          </ng-template>
          <ng-template #notLoggedIn>
            <button type="button" class="btn btn-light" (click)="logout()">Logout</button>
          </ng-template>
        </li>
      </ul>
    </div>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
